<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Dellee</title>
</head>
<body style="padding:0; margin:0; background:#f3f3f3;">
  <table style="table-layout:fixed" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
      <td width="10px"></td>
      <td align="center" valign="top" bgcolor="#f3f3f3">
        <table style="table-layout:fixed; max-width: 560px;" width="100%" cellpadding="0" cellspacing="0" border="0">
          <tr height="10px">
            <td></td>
          </tr>
          <tr height="77px">
            <td align="center">
              <img height="77px" src="{{config.base_url}}/images/mail/logo.png" alt="Dellee logo" />
            </td>
          </tr>
          <tr height="10px">
            <td></td>
          </tr>

          {{{body}}}

          <tr height="15px">
            <td></td>
          </tr>
          <tr>
            <td align="center">
              <a style="font-family:Helvetica,Arial,sans-serif; font-size:12px; color:#979797; margin:0; padding:0; text-decoration:none" href="{{config.base_url}}/about">о проекте</a>&nbsp;
              <a style="font-family:Helvetica,Arial,sans-serif; font-size:12px; color:#979797; margin:0; padding:0; text-decoration:none" href="{{config.base_url}}/terms">правила</a>&nbsp;
              <a style="font-family:Helvetica,Arial,sans-serif; font-size:12px; color:#979797; margin:0; padding:0; text-decoration:none" href="{{config.base_url}}/contacts">контакты</a>
            </td>
          </tr>
          <tr height="15px">
            <td></td>
          </tr>
          <tr>
            <td>
              <div align="center" style="font-family:Helvetica,Arial,sans-serif; font-size:12px; color:#abaaaa; margin:0; padding:0;">© 2016 Delle beta</div>
            </td>
          </tr>
          <tr height="15px">
            <td></td>
          </tr>
        </table>
      </td>
      <td width="10px"></td>
    </tr>
  </table>
</body>
</html>
