<!doctype html>
<html lang="en-US">
  <head>
    <title>{{title}}</title>

    {{> meta}}

    <link rel="stylesheet" href="{{getAsset 'app.css'}}">
  </head>
  <body>
    <div id="app-node">{{{body}}}</div>
    <script>
      window.app = {
        config: {{{JSON.stringify config._app}}}
      };
    </script>
    <script src="{{getAsset 'app_vendor.js'}}"></script>
    <script src="{{getAsset 'app.js'}}"></script>
  </body>
</html>
