<!doctype html>
<html lang="en-US">
  <head>
    <title>{{title}}</title>

    {{> meta}}

    <link rel="stylesheet" href="{{getAsset 'admin.css'}}">
  </head>
  <body>
    <div id="app-node"></div>
    <div id="modal-node"></div>
    <script>
      window.app = {
        config: {{{JSON.stringify config._admin}}}
      };
    </script>
    <script src="{{getAsset 'admin_vendor.js'}}"></script>
    <script src="{{getAsset 'admin.js'}}"></script>
  </body>
</html>
